body {
    background-image: linear-gradient(45deg, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Retirez overflow: hidden; pour permettre le défilement */
}


.sport {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espace entre les éléments */
    justify-content: center;
   
}

.info-rectangle {
    width: 100%;
    height: 100px;
    background-image: url(image-App/sport4.png);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 4px 10px  #027387;
    opacity: 0.0;
    background-position: ;
   
    background-size: cover;
}


.info-rectangle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); /* Couleur noire avec une opacité de 0.7 */
    z-index: 1;
    border-radius: 10px;
}

.info-rectangle h3, p {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;

}

.exercices {
    width: 25%; /* Largeur des cases, ajustée pour deux colonnes */
    margin: 10px; /* Ajustez la marge selon vos préférences */
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 5px 15px  #027387;
    text-align: center ;
}

.exercices img {
    width: 100%;
    height: auto; /* Pour maintenir le ratio d'aspect et rendre l'image responsive */
    border-radius: 20px;
    display: block;
}


